<div id="SimilarityView" class='border'>
    <!-- <div class="card"> -->
        
        <!-- <div style="float: left; margin-right:5px; height: 21px">
            <p style="display: inline">Similarity View</p>
        </div> -->
        <!-- <div style="float: right; margin-right:5px">
            <span style="margin-right: 10px;">NO.People: {{selectedPeople.length}}  </span>
        </div> -->
        
        <!-- <div class="card-block" id="characterContainer" > -->
            <!-- <svg id = 'BarChart' width = "200" height = "150"></svg> -->
    <svg id = 'MDSLasso_svg' width = "422.67" height = "494"></svg>
    <div id='similarity_view_tooltip'></div>
            <!-- <p>aaa:{{message}}</p> -->
        <!-- </div>
    </div> -->
</div>
